$bodyBackground: rgba(198, 238, 252, 0.53);
$contentBackground: #3b3b3b;
$contentWidth: 960px;

$urlColor: #fccd10;
$textColor: #fff;
$titleColor: #fccd10;

$briefColor: #000;
$briefBackground: #fff178;
$briefWidth: 100%;
$briefMargin: 20px 0;
$briefPadding: 20px;
$briefLeft: left;

$captionColor: #000000;
$labelColor: #fccd10;
$thBackground: #94a34e;
$tdBackground: #677d01;

$btnColor: #fccd10;
$btnhColor: #3b3b3b;