$bodyBackground:#dcbb9a;
$contentBackground: #ffffff;
$contentWidth: 960px;

$urlColor: #3d70a1;
$textColor: #000000;
$titleColor: #893c00;

$briefColor: #000000;
$briefBackground: #fadcba;
$briefWidth: 420px;
$briefMargin: 0 20px 0 0;
$briefPadding: 20px;
$briefLeft: left;

$captionColor: #000000;
$labelColor:#808080;
$thBackground: #e0e0e0;
$tdBackground: #fff;

$btnColor: #3d70a1;
$btnhColor: #ffffff;